<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo Apps</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js">
    </script>
    <link href='style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="box">
      <h2>Simple Todo App</h2>
    </div>
    <div class="container" id="todo">
      <section class="panel">
        <input type="checkbox" id="mark-all" v-bind:checked="checkAllSelected" v-on:click="selectAll">
        <input type="text" placeholder="Input your task.." autofocus class="text-input" v-model="newTask" v-on:keyup.enter="addTodo">
        <button v-on:click="clearTodo">Clear Todo</button>
      </section>

      <ul class="list">
        <li v-for="task in taskList" v-bind:class="{done: task.checked}">
          <input type="checkbox" class="checkbox" v-model="task.checked">
          <label for="checkbox">{{ task.text }}</label>
          <button class="delete" v-on:click="removeTodo(task)">Clear</button>
        </li>
      </ul>
    </div>
    <script>
    new Vue({
      el: "#todo",
      data: {
        newTask: "",
        taskList: []
      },

      computed: {
        checkAllSelected: function() {
          //Return true if all list ke-checkmark
          return this.taskList.every(function(task) {
            return task.checked;
          }) && this.taskList.length > 0;
        },
      },

      methods: {

        addTodo: function() {
          var task = this.newTask.trim();
          if (task) {
            this.taskList.push({
              text: task,
              checked: false
            });
            this.newTask = "";
          }
        },

        removeTodo: function(task) {
          var index = this.taskList.indexOf(task);
          this.taskList.splice(index, 1);
        },

        clearTodo: function() {
          this.taskList = [];
        },

        selectAll: function(task) {
          //toggleValue is set to the opposite of checkAllSelected
          var toggleValue = this.checkAllSelected ? false : true;
          //we use a for loop to set the checked state of all items to the target value
          for (var i = 0; i < this.taskList.length; i++) {
            this.taskList[i].checked = toggleValue;
          }
        }

      }
    });
    </script>
  </body>
</html>
