body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  background-color: #EFF1F2;
}

.box {
  border: 1px solid #3399ff;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  background-color: #3399ff;
  color: #fffccc;
}

.container {
  width: 40%;
  margin: 1em auto 3em;
  border: 1px solid #efefef;
}

.panel,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #efefef;
  background-color: #E7E8EB;
}

.text-input {
  border: 1px solid #dedede;
  padding-left: 10px;
  width: 70%;
  height: 35px;
  color: #555;
}

button {
  color: #555;
  background-color: #FFFFFF;
  border: 1px solid #bbb;
  outline: 0;
  width: 100px;
  height: 38px;
  cursor: pointer;
  font-size: 12px;
}

.list li {
  background-color: #EFF1F2;
}

.list li .delete {
  background-color: transparent;
  border: 1px solid #EFF1F2;
  color: #aaa;
  visibility: hidden;
  font-size: 20px;
  font-weight: bold;
}

.list li:hover > .delete {
  visibility: visible;
}

.list label {
  padding-right: 10px;
  display: inline-block;
  width: 70%;
  font-size: 18px;
  line-height: 24px;
  color: #737373;
  z-index: 2;
  overflow: hidden;
}

.list li.done label {
  color: #ff0000;
  text-decoration: line-through;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
}
